.photo{
   width: 300px; 
   margin: 30px;
}
img{
    width:100% ;
}
img:hover{
    animation-name: shrek1 ;
    animation-duration:3s ;
    animation-iteration-count: infinite;
}
    
@keyframes shrek1 {
	0%{
		transform: scale(1);
	}
	100%{
		 transform: scale(1.3);
	}
} 
.text{
    background-color: rgb(247, 105, 105 );
    width: 300px;
    margin: 30px;
    padding: 30px;
    animation: shrek3 5s infinite alternate;
}
@keyframes shrek2{
from{
    font-size: 50%;
}
40%{
    color: lavender;
}
to{
    font-size: 180%;
}
}
h1{
    font-family:cursive ;
    font-style: italic;
    animation: shrek2 5s infinite alternate;
}
@keyframes shrek3{
    0%{
        opacity:0.1 ;
        background-color: antiquewhite;
        border-radius: 3px;
    }
    40%{
        background-color: black;
    }
    70%{
        border-color: rgb(255, 217, 0);
    }
    100%{
        background-color: rgb(255, 0, 51);
        opacity: 1;
        border-radius: 100px;
    }
}
